#table_content{
    margin:auto;
    border:1px solid black;
    text-align:left;
    width:42%;
    background-color:#9E9E9E;
}

#registerbtn {
    margin-left:100%;
    width:120px;
    height:30px;
    margin-bottom : 20px;
}
