.body{
    margin-top: 50px;
}
.total{
    width: 80%;
    
    margin: auto;
}
.div{
    width: 90%;
   height: 400px;
    background-color: white;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .2s
}
.div img{
    max-height:95%;
}

.div:hover{
      transform: scale(1.1);

}