.item{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
  
  grid-gap: 5%;
  margin: 8%;
}
.tems{
 width: 80%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 4%;
}
.imgs{
    width: 25%;
    height: 25%;
}