img{
    width: 30%;
    height: 100%;
      border-radius: 20px;
    float: left;
}
body{
    background-color: rgb(2, 2, 17);
}
h1{
    color: aliceblue;
}
.div{
    height: 100px;
    width: 30%;
   align-items: center;
    background-color: bisque;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    border-radius: 20px;
}
a{
    text-decoration: none;
    
}
input{
    width:20%;
    height: 30px;
    border-radius: 6px;
    
}
button{
     width:5%;
    height: 33px;
    border-radius: 6px;
    
}