.ft{
  float: left;
}
#dis{
  height: 630px;
  width: 400px;
  background-color: rgb(202, 202, 221);
  margin: 200px;
  padding:auto;
  border-radius: 40px;
}
#dis h1{
  margin-top: 0%;
}
.icon{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  float:right;
}
img{
  height:300px;
  width: 400px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
}
.space{
  padding: 20px;
}
.cnt{
  
    text-decoration: line-through;
    font-size: 14px;
    color: #eb0303;

}
#spce{
  padding: 0px;
}
#spce p{
  float: left;
  padding:20px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.clear{
  clear: both;;
}
p button{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: green;
  color: whitesmoke;
}